<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>References</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
            <a class="nav-item nav-link" href="{% url 'reference' %}">References</a>
            <a class="nav-item nav-link active" href="#">About</a>
          </div>
        </div>
      </nav>
      <div class="row">
        <div class="col-10">
            <div class="card">
                <h1 class="abouttitle" >About the Project</h1>
                <p>
                  Sooooooo, I started this project because I wanted to show off some of the skills I have that I do not always know how to articulate.  
                  I was also let go from my last job at a weird time in my development as a programmer.  I was just getting to a point where I was 
                  semi comfortable with my skills and I was working on an awesome project that was really pushing me to learn more.  
                  I had a mentor in a sense, someone I could ask questions to when I was stuck.  I really felt like I was getting traction and my boss 
                  used me as a scapegoat for his own inabilities and I was let go.  It really sucked because I was getting better at what I was doing 
                  but it really affected my confidence.  Not only that but I really didn't know what direction I was heading in the first place.  
                  So I did what I always do, continued taking classes online to learn more so I could feel more confident. The classes were not helping 
                  so I decided I needed a project.  I had just missed a job opportunity because I did not know enough django.  So why not work with django 
                  some more.  I had a taste of it so let's continue building on that.  It was perfect, I could follow some tutorials to get started and 
                  then build from there.  Not only that but I would be challenged in many different areas, python, web, web hosting, ssl, domains, 
                  the cloud, and git.  I had some experience in all of them but I have never had to bring them all together.  
                  
                  I will continue to post and add updates to the project as I go but I figure this will atleast give you an idea of what you are 
                  looking at here.  Thank you and hope you come back to see how it goes. 
                  
                </p>
            </div>
        </div>
    </div>
</body>
</html>