<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Grid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Makers Technology Journey Blog</title>
</head>

<header>
    <nav>
        <div class="row">
            <div class="col span-2-of-2">
                <h1 class="title">Makers Blog</h1>
                <ul class="main-nav">
                    <li><a href="https://code-martian.net">Home</a></li>
                    <li><a href="{% url 'reference' %}">References</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="https://github.com/jackalope22">Personal Github</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

    <div class="hero-text-box">
        <h3>Makers Tech Journey.<br>And also some <br> non tech things</h3>
        <a class="btn btn-full" href="{% url 'about' %}"></a>
    </div>
<body>  
    <div class="row">
        <div class="col span-2-of-2">
            {% for post in post_list %}
                <h2>{{ post.title }}</h2>
                <h5>{{ post.author }} | {{ post.created_on}}</h5>
                <img class="post-image" style="width: 1140px;" src="{{ MEDIA_URL }}{{post.picture.url}}">
                <p> {{post.content|slice:":200" }} </p>
                <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary"> Read More &rarr;</a>
                {% endfor %}
        </div>
        <div class="col span-1-of-1">
            <h3>Recent Post</h3>
                {% for post in post_list %}
                <div><h5>{{ post.title }} | {{ post.created_on }}</h5></div><br>
                {% endfor %}
        </div>
    </div>

    <div class="footer">
      <h2>Footer</h2>
      <p class="footerp">Copyright &copy; Michael Akers</p>
      <p class="footerp">this site is running on Django and DigitalOcean and was created by Mike Akers</p>
    </div> 
</body>  
</html> 
 
