<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Makers Technology Journey Blog</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{% url 'reference' %}">References</a>
            <a class="nav-item nav-link" href="#">Other</a>
          </div>
        </div>
      </nav>
    <div class="jumbotron">
        <h2>Makers Technology Journey</h2>
    </div>
    
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                {% for post in post_list %}
                <h2>{{ post.title }}</h2>
                <h5>{{ post.author }} | {{ post.created_on}}</h5>
                <img class="post-image" src="{{ MEDIA_URL }}{{post.picture.url}}">
                <p> {{post.content|slice:":200" }} </p>
                <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary"> Read More &rarr;</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <h2>About Me</h2>
                <img class="post-image" style="height:200px;" src="{% static 'media/django-gettingstarted.jpg' %}">
                <p>I am a junior programmer in my 30's that has returned to the tech world in the last couple years</p>
            </div>
            <div class="card">
                <h3>Popular Post</h3>
                {% for post in post_list %}
                <div><h5>{{ post.title }} | {{ post.created_on }}</h5></div><br>
                {% endfor %}
            </div>
            <div class="card">
                <h3>Follow Me</h3>
                <ul>
                    <h5>Github</h5>
                    <a href="https://github.com/jackalope22"><li>https://github.com/jackalope22</li></a>
                    <h5>Linkedin</h5>
                    <a href="www.linkedin.com/in/michael-akers-b97314138"><li>www.linkedin.com/in/michael-akers-b97314138</li></a>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer">
      <h2>Footer</h2>
    </div> 
</body>  
</html> 
 
