<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Grid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>{{ object.title }}</title>
</head>
<body>
  <nav>
    <div class="row">
      <div class="col span_1_of_3">
        <h1 class="nav-title">Makers Blog</h1>
      </div>
      <div class="col span_2_of_3">
        <ul class="about-nav">
          <li><a href="https://code-martian.net">Home</a></li>
          <li><a href="{% url 'reference' %}">References</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="https://github.com/jackalope22">Personal Github</a></li>
        </ul>
      </div>
    </div>
  </nav>
      <div class="row">
          <h1>{{ object.title }}</h1>
            <p class="text-muted">{{ post.author }} | {{ post.created_on }}</p>
            <img class="post-image"  style="padding: 40px;" src="{{post.picture.url}}">
            <p class="card-text">{{ post.content | safe }}</p>
      </div>
      <div class="row">
        <div class="col span-2-of-2">
          <!-- comments -->
          <h2 style="text-align: center; width: 100%;">{{ comments.count }} comments</h2>
        </div>
          {% for comment in comments %}
        <div class="comments col span-1-of-2" style="padding: 10px;">
          <p class="font-weight-bold">{{ comment.name }}
            <span class=" text-muted font-weight-normal">{{ comment.created_on }}
            </span>
          </p>
        </div>
        <div class="col span-1-of-2">
            {{ comment.body | linebreaks }}
        </div>
          {% endfor %}
      </div>
      <div class="col span-1-of-2">
          {% if new_comment %}
          <div class="alert alert-success" role="alert">
            Your comment is awaiting moderation
          </div>
          {% else %}
          <h3>Leave a comment</h3>
          <form method="post" style="margin-top: 1.3em;">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
          </form>
          {% endif %}
      </div>
</body>
</html>